# Pandas学习笔记（二） 常用的函数和操作
在上一章当中我们已经介绍了 Series 和 DataFrame 两种基本数据类型。其实，在 Pandas 中对于这两种数据类型我们还有很多常见的方法和操作需要需要学习，接下来我们一一介绍。

In [29]:
import pandas as pd
import numpy as np

## 访问Series的属性
在定义一个Series时我们，还可以为它加上值（values），索引（index），名字（name），类型（dtype）等多种属性。

In [30]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'],name='这是一个Series',dtype='float64')

###  **访问Series的属性**
然后我们可以直接使用`s` `s.values` `s.name`等操作来直接访问这个Series的属性。

In [31]:
s

a   -1.790199
b   -0.977974
c    0.360338
d    0.731946
e    0.360997
Name: 这是一个Series, dtype: float64

In [32]:
s.name

'这是一个Series'

In [33]:
s.values

array([-1.79019908, -0.97797357,  0.36033759,  0.73194586,  0.36099651])

In [34]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [35]:
s.dtype

dtype('float64')

### 访问Series中的某个特定数据
若我们希望访问Series中的一个特定数据，我们可以通过它的索引来访问。

In [36]:
s['a']

np.float64(-1.7901990798394576)

## 访问DataFrame的属性

我们先来定义一个DataFrame。

In [37]:
df = pd.DataFrame({'name': ['Ann','Jack','Miow','Sue','Albert'],'age':[19,20,34,21,11],'num':range(0,5)},index=list('ABCDE'))

### **按名字访问DataFrame的某一列**
若你希望访问DataFrame中的某一列，你可以直接用列的名字来访问。当你这样访问时，这返回的是一个Series对象。

In [38]:
print(df['name'])
print(type(df['name']))

A       Ann
B      Jack
C      Miow
D       Sue
E    Albert
Name: name, dtype: object
<class 'pandas.core.series.Series'>

### **修改DataFrame某一列或某一行的名称**
使用`rename()`操作即可修改DataFrame某一行或某一列的名称。修改的内容应为一个字典`{'原内容':'新内容'}`

In [39]:
df

     name  age  num
A     Ann   19    0
B    Jack   20    1
C    Miow   34    2
D     Sue   21    3
E  Albert   11    4

In [40]:
df.rename(index={'A':'The First Row'},columns={'age':'AGE'})

                 name  AGE  num
The First Row     Ann   19    0
B                Jack   20    1
C                Miow   34    2
D                 Sue   21    3
E              Albert   11    4

### 访问DataFrame的属性
访问DataFrame的属性方法同访问Series时一样。你可以访问DataFrame的值（values），索引（index），形状（shape），某一列或行的类型（dtype）